@using DataLayer.Models
@using Microsoft.AspNetCore.Identity
@using SharedDll.Enums
@model Contracts.Request.UserRequestCreateRequest
@inject UserManager<Employee> _userManager
@{
    ViewData["Title"] = "CreateUserRequest";
    var currentUser = await _userManager.GetUserAsync(User);
}

<div class="content">


    <form asp-action="CreateUserRequest">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="container">

            <p class="leave-request-title">Leave Request</p>

            <div class="form-row">
                <label class="control-label">Number of days ramaning:</label>
                <p class="form-control">@currentUser.DaysOffNumber</p>
            </div>

            <div id="first-row" class="form-row ">
                <label class="control-label">Start Date</label>
                <input name="StartDate" class="form-control" type="date" />
            </div>
            <span asp-validation-for="StartDate" class="text-danger"></span>

            <div class="form-row">
                <label class="control-label">End Date</label>
                <input name="EndDate" class="form-control" type="date" />
            </div>
            <span asp-validation-for="EndDate" class="text-danger"></span>

            <div class="form-row">
                <label class="control-label">Leave Type</label>
                <select name="LeaveType" class="form-control">
                    @{
                        <option>Choose an option</option>
                        @foreach (var option in Enum.GetValues(typeof(LeaveTypeEnum)))
                        {
                            <option value="@option">@option</option>
                        }
                    }

                </select>

            </div>
            <span asp-validation-for="LeaveType" class="text-danger"></span>

            <div class="form-row">
                <label id="last-label" class="control-label">Leave a comment</label>
                <input id="last-input" name="CommentEmployee" class="form-control" />
            </div>
            <span asp-validation-for="CommentEmployee" class="text-danger"></span>

            <div class="bottom-section">
                <input type="submit" value="Create Request" class="btn" />
            </div>

        </div>

    </form>



</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}