@{
    ViewData["Title"] = "Download File";
}

<h1>Download File</h1>

<form asp-action="Download" method="get">
    <div class="form-group">
        <label for="blobName">Blob Name</label>
        <input type="text" name="blobName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Download</button>
</form>